<% tracks.each_with_index do |track, index| %>
  <li id="track-<%= index %>">
    <div class="datashift-audio-duration"><%= track.display_duration %></div>
    <div class="datashift-audio-full-name">
      <%= link_to(track.artist, user_path(track.user)) %>
      -
      <%= link_to(track.title, track_path(track)) %>
    </div>
  </li>
<% end %>
