.byebug_history
.dockerignore
.env
.env.example
*/.git
.git
.gitignore
.idea
.rubocop.yml
*/.vs
.vs
*/.vscode
.vscode

# TODO - UNCOMMENT - this should be part of Capistrano deploy - shared area on server- and not copied here
# /config/master.key

Dockerfile
docker-compose.yml
docker-compose.*.yml
*/bin
bin
*/obj
obj
*/node_modules
node_modules
storage
spec
docker
db
/log/*
/tmp/*
/public/system/*