<div class="card">

  <%= bootstrap_card_header( t(:permissions, scope: :global)) %>

  <div class="card-body">

    <%= label_tag t('.available_for') %><br>

    <% Available.concepts.keys.each do |c|  %>
      <div class="collection-check-box">
        <%= check_box_tag "availables[#{c}]", true, @track.available_for?(c) %>
        <%= form.label c %>
      </div>
    <% end %>
  </div>
</div>
