<% content_for :banner do %>
  <h5>Tracks</h5>
<% end %>

<div class="col-12" style="border: 1px solid">
  <%= render partial: 'audio_player/full_width_wave', locals: { load_json_playlist_url: tracks_url } %>
</div>

<section class="track-listing" id="tracks_index_section">
  <div class="container col">

    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-1 datashift-audio-track-playlist">
            <i class="material-icons view_list active">view_list</i>
          </div>
          <div class="col-8">
            <div class=" playlist-content p-1">
              <ul class="row mb-6 feature-list feature-list-sm datashift-audio-playlist">  </ul>

              <div class="datashift-audio-page-selectors">
                <ol class='datashift-audio-pages'></ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end of tracks -->
    <div class="row justify-content-center">
      <div class="col-auto">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="icon-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <%= paginate @tracks, window: 2 %>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true"><i class="icon-chevron-right"></i></span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</section> <!--end list/pagination section-->


