<%= datashift_audio_player_in_navbar(init_url: "#{player_init_url}.json", load_url: "#{radio_index_url}.json") %>

<div class="row">
  <div id="future_possible-menu" class="col-2"></div>
  <div class="col-8">
    <!-- inner track data 'tracks/shared/playlist.html.erb' -->
    <%= render partial: 'datashift_audio_engine/shared/track_playlist'  %>
  </div>
</div>

