<%= content_for 'audio_player_in_navbar' do %>
  <ul id="navbar-audio-player" class="navbar-nav nav-fill w-100">
    <li class="nav-item">
      <%= datashift_audio_player_tag %>

      <%= datashift_audio_player_script(init_url: "#{player_init_url}.json", load_url: "#{radio_index_url}.json")  %>
    </li>
  </ul>
<% end %>

<div class="row">
  <div id="future_possible-menu" class="col-2"></div>
  <div class="col-8">
    <!-- inner track data 'tracks/shared/playlist.html.erb' -->
    <%= render partial: 'datashift_audio_engine/layouts/track_playlist'  %>
  </div>
</div>

