<div class="row flex-md-row card card-sm">
  <div class="col card-body bg-secondary">

    <div class="row">
      <div class="col-2 text-center">
        <div>
          <%= avatar_image_tag(current_user) %>
        </div>
      </div>
      <div class="col-2 text-center">
        <h3 class=".text-light"> <%= @user.name %></h3>
      </div>
      <div class="col-4"></div>
      <div class="col-4 float-right text-center">
        <h5 class=".text-light"><%= @user.email %></h5>
      </div>
    </div>

    <% if current_user == @user %>
      <div class="row">
        <div class="col-8"></div>
        <div class="col float-right text-center">
          <div>
            <%= link_to icon_tag('icon-pencil', text: 'Edit', text_front: false), edit_user_registration_path, class: 'icon_tag' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
