<% content_for :banner do %>
  <h5>Playlists</h5>
<% end %>


<% li_class = 'ol-12 col-md-4 col-lg-2' %>

<div class=" row">
  <div class="col-2" style="border: 1px solid">
    On hover, play/pause button appears within playlist cover. On play, loads playlist into thin player
  </div>

  <div class="col-10">
    <section class="playlist-listing" id="playlists_index_section">

      <ul class="row mb-6 feature-list feature-list-sm">
        <% @playlists.each do |a| %>
          <%= link_to playlist, class: 'card-img-top' do %>
            <h1 class="playlist-title"><%= playlist.name %></h1>
          <% end %>
        <% end %>
      </ul>

    </section> <!--end list/pagination section-->
  </div>
</div>

