.search {
  position: relative;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
}

.search input {
  width: 100% !important;
  background: #ffffff;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}

.search .fa-search {
  position: absolute;
  top: 12px;
  left: 550px;
  border: 0;
  color: #6c757d;
  background-color: transparent;
}