<div class="row">

  <div class="col-8">
    <div class="form-group">
      <%= select(:album, :album_id, options_for_select(Album.without_track(@track, current_user).pluck(:title, :id)), {}, class: 'form-control') %>
    </div>

  </div>

  <div class="col-4">
    <div class="form-group">
      <input type='button' id="submitAlbumTrack" value="<%= t('.add') %>">
    </div>
  </div>

</div>

<script type="text/javascript" charset="utf-8">

    $('#album_album_id').select2({
        placeholder: 'Select Album'
    });

    $('#submitAlbumTrack').click(function() {

        let rails_album =$("#album_album_id").val();
        let rails_track = '<%= @track.id %>';
        $.ajax({
            type: 'POST',
            url: '<%= url_for(album_tracks_path) %>',
            dataType: "script",
            data: { album_track: { id: rails_album, track_id: rails_track } },
            success:function(data){
                alert('ok')
            },
            error:function(){
                $('#ajax_response').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments.</p>');
            }
        });
    });

</script>