<% size = :small if local_assigns[:size].nil? %>

<div class="card">

  <%= bootstrap_card_header(t('.cover')) %>

  <div class="card-body">

    <div class="col-3">
      <%= form.fields_for :cover do |cover| %>
        <div class="form-group">
          <div class="audio-upload">
            <% label = model.cover_image_tag(size: size) unless model.new_record?%>

            <%= custom_file_field(cover, :image, t('.choose_image_file'),
                                  options: { accept: 'image/png,image/gif,image/jpeg' },
                                  content_for_label: label ) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
