<% form_id = "taglist-#{form.object.class.name.downcase}-#{form.object.id}" %>

<div class="form-group col-8 p-0">
  <%= form.label(t(:tags, scope: :global)) %>
  <%= form.select :tag_list, options_for_select(form.object.tag_list, form.object.tag_list ), {}, { multiple: true , id: form_id, style: "width:100%;", class: 'form-control' } %>
</div>

<script type="text/javascript">
    $('#<%= form_id %>').select2({
        placeholder: 'tags',
        tags: true,
        tokenSeparators: [',', ' ']
    });
</script>
