<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Yet Another Music Service" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Yet Another Music Service" %>">

<!-- fonts -->

<!-- icon stuff just thrown in public for now-->
<link href="/theme/assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
<link href="/theme/assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />

