<% css_class = local_assigns.has_key?(:css_class) ? css_class : "avatar avatar-lg" %>

<%= image_tag 'logos/kyoto_drummers_logo_200x200.png', height: '150px', width: '150px', class: css_class %>
<div class="center">
  <span class="text-small pt-1">Yet Another Music Service</span>
</div>
