<div class="row">

  <div class="col-8">
    <div class="form-group">
      <%= select(:track, :track_id, options_for_select(Track.without_album(@album, current_user).pluck(:title, :id)), {}, class: 'form-control') %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <input type='button' id="submitTrackAlbum" value="<%= t('.add') %>">
    </div>
  </div>

</div>

<script type="text/javascript" charset="utf-8">

    $('#track_track_id').select2({
        placeholder: 'Select Track'
    });

    $('#submitTrackAlbum').click(function() {

        let rails_track = $("#track_track_id").val();
        let rails_album = '<%= @album.id %>';
        $.ajax({
            type: 'POST',
            url: '<%= url_for(album_track_track_selections_path(@album.id)) %>',
            dataType: "script",
            data: { album_track: { id: rails_album, track_id: rails_track } },
            success:function(data){
            },
            error:function(){
                $('#ajax_response').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments.</p>');
            }
        });
    });

</script>