<section class="bg-dark text-white space-xs m-0 p-0">

  <section class="bg-dark text-white space-xlg">

    <%= image_tag 'covers/kyoto_drummers_comic.jpg', class: "bg-image opacity-40" %>

    <div class="row text-center justify-content-center section-intro">
      <div class="col-12 col-md-10 col-lg-8">
        <h1 class="display-3">Built by Musicians.</h1>
        <h3 class="display-3">A new take on music sharing.</h3>
      </div>
    </div>

    <div class="row text-center" style="padding-top: 32px;">
      <div class="col-2"></div>
      <div class="col-8">
        <span class="badge badge-intro mb-1">Upload and Share your music</span>
        <span class="badge badge-intro mb-1">Roadmap to Micro Payment Channels - direct to and from your wallet.</span>

        <span class="badge badge-intro mb-1">Less is more</span>
        <span class="badge badge-intro mb-1">Open Source - contribute or build your own</span>
        <span class="badge badge-intro mb-1">Host your own music sharing platform on your own infrastructure.</span>
        <!--<span class="badge badge-intro mb-1">No subscription - pay per play</span>
        <span class="badge badge-intro mb-1">Support artists while maintaining control of your own spend</span>
        <span class="badge badge-intro mb-1">Use existing Bitcoin, Litecoin and Lightening Networks</span> -->
      </div>
    </div>
  </section>

</section>
