.datashift-audio-player .datashift-audio-track-cover {
  background-image: linear-gradient($colour-blue-grey, grey, black);
  box-shadow: 0px 0px 5px black;
  cursor: pointer;

  width: 160px;
  height: 160px; opacity: 1;
  vertical-align: middle;
}

.datashift-audio-track-cover .datashift-audio-cover-play{
  display: inline-block;
  position: fixed;
  padding: 18px;
  font-size: 40px;

  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);

  /* color: white;  */
  cursor: pointer;
  transition: 0.25s;
}

.datashift-audio-track-cover:hover .datashift-audio-cover-play{
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1);
}