#datashift-audio-player
{
  height: 180px;
}

.datashift-audio-player.bar {
  display: block;
  width: 100%;
  left: 0px;
  padding: 15px 0px;
  background-color: white;
}
.datashift-audio-player.bar.top {
  box-shadow: 5px 0px 10px black;
}

.datashift-audio-player.bar.bottom {
  bottom: 0px;
  box-shadow: -5px 0px 10px black;
}

.datashift-audio-player .info-block {
  display: inline-block;
  height: 75px;
}
.datashift-audio-player .wave-block {
  display: inline-block;
  height: 75px;
  max-height: 75px !important;
  margin: 0;
}


wave{
  max-height: 75px;
}

.datashift-audio-player .track-volume {
  display: inline-block;
  height: 75px;
  padding: 0px 10px;
}

.track-controls i{
  font-size: 30px !important;
  padding: 5px;
  transition: 0.25s;
  cursor: pointer;
}

.track-controls i:hover{
  transform:rotate(360deg);
  color: #637079;
}

.track-basic-info{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

.track-basic-info .author-name{
  color: grey;
}

.track-basic-info *{
  cursor: pointer;
}

.track-basic-info .author-name:hover{
  text-decoration: underline;
}

.track-basic-info .track-name:hover{
  text-decoration: underline;
}

input[type=range][orient=vertical]
{
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 75px;
}

.hide{
  display: none !important;
}

.current-position{
  display: inline;
}

.total-duration{
  display: inline;
}

.track-playlist{
  display: inline-block;
  /* text-align: center; */
  vertical-align: center;
}

.track-playlist i{
  font-size: 40px;
  transition: 0.25s;
  color: $colour-blue-grey-1;

}

.track-playlist i:hover{
  cursor: pointer;
}

.track-playlist i.active{
  box-shadow: 0px 0px 5px black;
  color: grey;
}

.datashift-audio-player .page-selectors{
  text-align: center;
}

.datashift-audio-player .pages{
  display: inline-block;
}

.datashift-audio-player .pages li{
  display: inline-block;
  padding: 5px;
}

.datashift-audio-player .pages li:hover{
  cursor: pointer;
  color: #637079;
}

.datashift-audio-player .pages li.active{
  color: whitesmoke;
  font-size: 24px;
}

.datashift-audio-track-controls i:hover{
  transform:rotate(360deg);
  color: blueviolet;
}