<div class="media align-items-center">

  <div class="accordion-item album-track col-12">
    <div class="card card-sm col p-0">
      <%= bootstrap_card_header( t(:albums, scope: :global)) %>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col"><h5 class="album-track">Create Album</h5></div>
        <a data-toggle="collapse" href="#toggle-new-album-form" aria-expanded="true">
          <div class="col"><i class="icon-chevron-small-right" style="border: 2px solid;"></i></div>
        </a>
      </div>

      <div id="toggle-new-album-form" class="collapse show col-12 album-track" role="tabpanel">
        <div class="media-body">
          <div class="d-flex justify-content-between">
            <div class="col-12">
              <%= render(partial: 'albums/form', locals: {album: Album.new }) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ul id="albums-dashboard-with-dropzone" class="striped-list list-group list-group-flush">

      <!-- Target for dynamic CREATE - new album from remote controller-->
      <div id="target-for-album-create-insertion-point">
      </div>

      <!-- Album Management - with drag and drop track section-->
      <% current_user.albums.each do |album| %>
        <li id="album_row_<%= album.id %>">
          <%= render(partial: 'albums/album_with_dropzone', locals: { album_presenter: AlbumPresenter.new(album, self) }) %>
        </li>
      <% end %>

    </ul>

  </div>
</div>
