<% content_for :body_extension do %>

  <script>
      function allowDrop(ev) {
          ev.preventDefault();
      }

      function drag(ev) {
          ev.dataTransfer.setData("text", ev.target.id);
      }

      function drop(ev, album) {

          if (ev.stopPropagation) {
              ev.stopPropagation(); // Stops some browsers from redirecting.
          }

          ev.preventDefault();

          var track = document.getElementById(ev.dataTransfer.getData('Text'));

          // Hide whole Track source row (track details plus any other buttons - edit, delete etc)
          track.parentNode.remove();

          // Wrap button in li so tracks insert vertically
          var wrapper = document.createElement('li');

          // Disallow dropping onto these new items., we want it to be elem with the album id
          wrapper.setAttribute("ondrop", "return false;");

          track.parentNode.insertBefore(wrapper, track);

          wrapper.appendChild(track);

          var rails_album = album.getAttribute("data-album-id");
          var rails_track = track.getAttribute("data-track-id");

          $.ajax({
              url: '<%= url_for(album_tracks_path) %>',
              type: "POST",
              dataType: "script",
              data: { album_track: { id: rails_album, track_id: rails_track } }
          })

      }
  </script>

<% end %>

<div class="row">
  <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>

  <!-- TRACKS -->
  <div class="col-5">

    <div class="media align-items-center">

      <div class="accordion-item album-track col-12">
        <div class="card card-sm col p-0">
          <%= bootstrap_card_header( t(:tracks, scope: :global)) %>
        </div>

        <div class="card card-sm p-0 col">

          <div class="card-body drag show-track-album-dropzone">


            <div id="target-for-album-track_removal-reinsertion"></div>

            <% @tracks.each do |t| %>
              <%= render partial: 'tracks/draggable_track_in_a_row', locals: { track_presenter: TrackPresenter.new(t, self) } %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ALBUMS -->
  <div class="col-7 album-track-manager-dropzone m-0 p-0">
    <%= render partial: 'albums/dashboard_with_dropzone' %>
  </div>

</div>
