/* YAMS - OVER RIDES OF THE ENGINE AND PLAYER SPECIFIC STYLES*/

#navbar-container
{
  border-bottom: 1px solid whitesmoke;
}

#navbar-audio-player
{
  border-top: 1px solid whitesmoke;
}

.datashift-audio-track-title, .datashift-audio-duration, .datashift-audio-full-name
{
  font-family: 'Concert One', cursive;
  font-size: 20px;
}

// Need to shift this down to accommodate our navbar and player at top
#datashift-audio-track-playlist-wrapper-row
{
  margin-top: $navbar-player-spacer;
  background-color: $colour-default-body;
}

.datashift-audio-duration
{
  font-size: 16px;
}

.datashift-audio-track-playlist i.datashift-audio-active{
  box-shadow: 0px 0px 5px  $colour-blue-grey-2;
  color: $colour-blue-grey-1;
}

.datashift-audio-playlist li{
  display: block;
  transition: 0.25s;
  padding: 10px;
  color: ghostwhite;
}

.datashift-audio-playlist li *{
  display: inline-block;
  padding-left: 5px;
  cursor: pointer;
}

.datashift-audio-playlist li .duration{
  color: ghostwhite;
  background-color: black;
  padding: 0px 10px;
}

.datashift-audio-playlist li i{
  color:  $colour-cool-mint;
}

.datashift-audio-playlist li:hover i{
  color: blueviolet;
}

.datashift-audio-playlist li .full-name{
  padding: 0px 10px;
}

.datashift-audio-playlist li:hover{
  color: $colour-dark-green;
  cursor: pointer;
}

.datashift-audio-playlist li.active{
  background-color: black;
  color: white;
}

.datashift-audio-playlist li.datashift-audio-active:hover{
  background-color: $colour-sea-green;
  color: white;
}

.datashift-audio-playlist > li:nth-child(odd) {
  background: $colour-theme-background-1;
}
.datashift-audio-playlist > li:nth-child(even) {
  background: $colour-theme-background-2;
}

.datashift-audio-playlist .current-track{
  background-color: black;
  color: white;
}

.datashift-audio-player .datashift-audio-pages li:hover{
  cursor: pointer;
  color: $colour-off-white;
}
