// Vars and Reset
//

$dark-text:   #5f6982;

// Cover Images

.cover-uploader {

  label {
    height: 260px;
    width: 100%;
    padding: 0; margin: 0;
    text-align: center;
    background: #f0eceb;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all .2s ease;
    user-select: none;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

    &:hover {
      border-color: $colour-purple;
    }
    &.hover {
      border: 3px solid $colour-purple;
      box-shadow: inset 0 0 0 6px #eee;

      #start {
        i.fa {
          transform: scale(0.8);
          opacity: 0.3;
        }
      }
    }

    #cover-image-preview-panel {
      height: 250px;
      position: relative;
      opacity: 0.5;
      background-size: cover;
      text-align: center;
      border-radius: 7px;
      border: 3px solid #eee;
    }

    .file-for-image-preview {
      &.hidden {
        display: none;
      }
    }

    #instruction-upload-cover-panel{
      color: #111;
      position: absolute;
      top: 0;
      width: 90%;
      height: 260px;
      text-align: center;
    }

    #file-for-image-response {
      height: 260px;
      text-align: center;
      margin-top: 64px;
    }

    #choose-image-start {
      height: 260px;
      text-align: center;
      margin-top: 48px;
    }

  }

  .file_selection_section {
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
    i.fa {
      font-size: 50px;
      margin-bottom: 1rem;
      transition: all .2s ease-in-out;
    }
  }

  .response {
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
    #messages {
      margin-bottom: .5rem;
    }
  }

  .not-correct-file-type {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
  }

  progress,
  .progress {
    // appearance: none;
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }

  .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }

  .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, darken($colour-purple,8%) 0%, $colour-dark-purple 50%);
    border-radius: 4px;
  }
  .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, darken($colour-purple,8%) 0%, $colour-dark-purple 50%);
    border-radius: 4px;
  }

  input[type="file"] {
    display: none;
  }

  div {
    margin: 0;
    color: $dark-text;
  }
  .btn {
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: $colour-dark-purple;
    border-color: $colour-purple;
    cursor: pointer;
  }
}
