.signin {
  background-color: #d3d3d3;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.login {
  @extend .form-parent;
  //background: url(https://picsum.photos/id/1004/5616/3744) no-repeat   center center #505050;
}

.login span {
  @extend label;
  display: inline-block;
  position: relative;
  top: -65px;
}

.input_text {
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  background: $colour-form-back;
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: $label-form-spacing;
  transition: all 0.5s ease-in-out;
}

.text {
  @extend .input_text;
  display: block;
  height: $label-form-spacing;
}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + span {
  opacity: 0.6;
}

.login input[type="text"],
.login input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}


.login input {
  display: inline-block;
  font-size: 14px;
}

.login h2,
.custom-checkbox {
  margin-top: 16px;
  margin-left: 20px;
}

.custom-checkbox {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: 6px;
}

.custom-checkbox:checked {
  background-color: rgba(17, 97, 237, 1);
}

.custom-checkbox:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: #fff;
}

.custom-checkbox:focus {
  outline: none;
}

.login label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}

.signin {
  //@extend input[type="submit"];
  @extend input, [type=submit]
}

.signin:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.signin:focus {
  outline: none;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 85px;
  position: relative;
}

.sign_in a {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  display: block;
  margin-top: 16px;
  position: relative;
  text-decoration: none;
}

.signin:hover, .have_account a:hover, .signin a:hover, .sign_up a:hover {
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.sign_up a {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  display: block;
  position: relative;
  text-decoration: none;
}

.sign_up p {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  opacity: 0.4; 
  transition: all 0.5s ease-in-out;
}

.have_account p {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.have_account a {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.have_account a:hover {
  box-shadow: 5px 4px 35px -5px #4082f5;
  cursor: pointer;
}
