$font-menus: 'Oswald', Inconsolata, sans-serif;

$colour-btc-orange-alt: #f7931a;
$colour-btc-orange:     #f2a900;
$colour-btc-grey:       #4d4d4e;

$colour-cool-mint:      #dafcff;

$colour-dark-green:     #090c03;

$colour-eerie-black:    #0D0118;

$colour-green:          #191c13;
$colour-green-blue:     #729f98;

$colour-blue-grey-1:    #3b4143;
$colour-blue-grey-2:    #4d595f;


$colour-intro-btn:      #2d7174;
$colour-off-white:      #f0eceb;
$colour-grey-white:     #d5d6db;

$colour-sea-green:      #2d7174;

$colour-gun-metal-blue: #273043;

$colour-purple:         #554ccd;
$colour-dark-purple:    #352cad;

$colour-steel-teal:     #508991;

$colour-rich-black:     #020202;

$colour-danger-red:     #D1495B;

// AUDIO
$colour-wave-wave:     $colour-btc-grey;
$colour-wave-progress: $colour-btc-orange;
$colour-wave-cursor:   #010101;
$colour-blue-grey:      #637079;
$colour-border-break:   #d5d5e0;


// Backgrounds
$colour-default-body:       #192024;
$colour-theme-background:   #192024;
$colour-audio-player:       #2d3e4f;
$colour-audio-player-accent:#272F38;

$colour-secondary: $colour-gun-metal-blue;

// Elements

$colour-alt-panel:  $colour-gun-metal-blue;
$colour-borders:    $colour-gun-metal-blue;

$colour-card-header:            #010101;
$colour-card-header-light:      #141414;
$colour-card-header-drag-drop:  #464349;

$colour-default-h1: $colour-off-white;
$colour-default-h:  $colour-cool-mint;

$colour-sidebar:            #010101;

$colour-links:              $colour-cool-mint;

// Forms

$colour-form-back:          $colour-btc-grey;
$colour-submit-btn:         $colour-purple;
$colour-submit-btn-text:    $colour-rich-black;

$colour-secondary-btn:      $colour-steel-teal;
$colour-secondary-btn-text: $colour-eerie-black;


// Sizing

$label-form-spacing: 6px;

$navbar-height: 70px;
$navbar-player-height: 170px;

$full-header-height: 170px;

$navbar-padding: 0.75rem 1.5rem;

$footer-height: 320px;
