/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
@import "font-awesome";
@import "normalize";
@import "webflow";

@import "bootstrap";

// YAMS Engines
@import "yams_core/file_upload";
@import "yams_theme/variables";
@import "yams_theme/pages";
@import "datashift_audio_engine/datashift_audio_engine";
@import "datashift_audio_engine/yams_override";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Inconsolata, monospace;
  color: $colour-off-white;
  font-size: 14px;
  line-height: 20px;
  background-color: $colour-default-body;
  margin: 0;
  padding: 0;
  height:100%;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

#app-container {
  min-height:100%;
  position:relative;
}

#app-header {
}

#app-body {
  padding-bottom: $footer-height;
}

#app-footer {
  position:absolute;
  bottom:0;
  padding: 0;
  margin: 0;
  width:100%;
  height: $footer-height;
}

a {
  text-decoration: none !important;
  transition: opacity .2s ease;
}

.avatar{
  border-radius: 50%;
  width: $spacer*3;
  height: $spacer*3;
  &.avatar-xs{
    width: $spacer*2;
    height: $spacer*2;
  }
  &.avatar-sm{
    width: $spacer*3;
    height: $spacer*3;
  }
  &.avatar-lg{
    width: $spacer*5;
    height: $spacer*5;
  }
  &.avatar-xlg{
    width: $spacer*8;
    height: $spacer*8;
  }
  &.avatar-square{
    border-radius: $border-radius/2;
  }
}

.border-break-top {
  border-top: 1px solid $colour-border-break;
}


.btn-download-track {
  padding: 4px !important;
  color: $colour-btc-orange !important;
  background: $colour-rich-black !important;
}

.card {
  color: $colour-off-white !important;
  background: #090c03 !important;
  word-wrap: break-word;
}

.card-body {
  background: #273043 !important;
  padding: 0 0.5rem;
}

.card-header {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.25rem 0.5rem;
}

.content-wrapper {
}

form {
  display: block;
  margin-top: 0em;
}

.footer {
  font-family: Inconsolata, monospace;
  background-color: transparent;
  color: $colour-off-white;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
}

.footer.homepage {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.footer-link {
  margin-right: 6px;
  margin-left: 6px;
  opacity: 0.82;
  color: $colour-off-white;
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 0.76;
  color: #fff;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}

.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  margin-top: 0px;
  color: #676770;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h5 {
  font-size: 1.25rem;
  line-height: 20px;
  margin-top: 0px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
}


h3.album-track, h5.album-track {
  color: $colour-green-blue !important;
  font-weight: bolder;

}

img {
  vertical-align: middle;
  border-style: none;
  border: 0;
  box-sizing: border-box;
  max-width: 100%;
  display: inline-block;
}

.image-wrapper {
  width: 20%;
  text-align: center;
}

nav {
  top: 0px;
  right: 0px;
  display: block;
  margin-left: 0px;
  float: none;
  clear: both;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  color: #edeff2;
  border-top: 2px solid $colour-dark-green;
  border-bottom: 2px solid $colour-dark-green;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar {
  padding-left: 60px;
  padding-right: 60px;
}
.navbar-collapse{
  justify-content: flex-end;
}

.nav-item {
  padding-right: 16px;
}

.nav-link {
  font-family: Inconsolata, monospace;
  left: 0px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #edeff2 !important;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-transform: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.nav-link:hover {
  color: #2e9dff;
}

.nav-link.w--current {
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.12), 0 1px 0 0 $colour-eerie-black;
  color: $colour-eerie-black;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-toggler{
  i{
    color: $colour-off-white !important;
  }
}

ol,
ul
{
  margin: 0; padding: 0;
}

p {
  color: $colour-rich-black;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.search-input {
  overflow: visible;
  max-width: 400px;
  padding-left: 27px;
  text-align: center;
}

.text-light {
  color: $colour-off-white !important;
}

.white-text {
  margin-top: 6px;
  margin-bottom: 20px;
  padding-top: 0px;
  color: #fff;
}

