/*
 * Only need to bring this in when the page has a audio player on it
*/
@import "application";

@import "datashift_audio_engine/datashift_audio_engine";

// YAMS over rides
@import "datashift_audio_engine/playlist";

#navbar-container
{
  border-bottom: 1px solid whitesmoke;
}

#navbar-audio-player
{
  border-top: 1px solid whitesmoke;
}

.datashift-audio-track-title, .datashift-audio-duration, .datashift-audio-full-name
{
  font-family: 'Concert One', cursive;
  font-size: 20px;
}

.datashift-audio-duration
{
  font-size: 16px;
}

