$colour-blue-grey:      #637079;
$colour-cool-mint:      #dafcff;

$colour-dark-green:     #090c03;
$colour-green:          #191c13;
$colour-green-blue:     #729f98;
$colour-green-links:    #4ae0b5;

$colour-blue-grey-1:    #3b4143;
$colour-blue-grey-2:    #4d595f;

$colour-intro-btn:      #2d7174;
$colour-off-white:      #f0eceb;
$colour-sea-green:      #2d7174;

$colour-gun-metal-blue: #273043;
$colour-iceberg-blue:   #74B3CE;
$colour-steel-teal:     #508991;

$colour-eerie-black:    #1D1128;
$colour-rich-black:     #020202;

$colour-danger-red:     #D1495B;

// Backgrounds
$colour-default-body: $colour-dark-green;
$colour-theme-background: #343a40;

$colour-secondary: $colour-gun-metal-blue;

// Elements
$colour-secondary-btn:      $colour-steel-teal;
$colour-secondary-btn-text: $colour-eerie-black;

$colour-default-h1: $colour-off-white;
$colour-default-h: $colour-cool-mint;

// Sizing
$navbar-total-height: 76px;
$navbar-player-total-height: 170px;

$navbar-padding: 0.75rem 1.5rem;
