<section class="space-xs text-center bg-gradient text-light">
  <div class="container">
    <div class="row">
      <div class="col-1">
        <%= yield :banner %>
      </div>
      <div class="col">
        <span class="mr-2"><%= render 'layouts/messages' %></span>
      </div>
    </div> <!--end of row-->
  </div>
</section>
